---
import Layout from "#/layouts/Layout.astro";
import Header from "#/components/Header.astro";
import "@scalar/api-reference/style.css";
import "#/styles/scalar.css";
---

<Layout>
	<Header class="z-10" />
	<div id="scalar" class="scalar max-w-screen-xl mx-auto w-full hidden"></div>
	<script>
		import "#/scripts/scalar";
	</script>
</Layout>
