---
import Layout from "#/layouts/Layout.astro";
import Main from "#/components/Main.astro";
import Header from "#/components/Header.astro";
---

<Layout>
	<Header />
	<Main>
		<div class="flex flex-col items-center mx-auto my-16">
			<h1 class="text-3xl sm:text-5xl font-bold mb-4 text-center">
				Location API
			</h1>
			<p class="mb-4">No hassle access to countries, states and cities data</p>
			<a
				href="/docs"
				class="w-fit px-5 py-2 rounded-full bg-primary-600/90 hover:bg-primary-600 text-white font-medium"
			>
				Documentation
			</a>
		</div>
	</Main>
</Layout>
