---
import Link from "#/components/Link.astro";
import Logo from "#/components/Logo.astro";

type Props = {
	width?: "xl" | "full";
	class?: string;
};

const { width = "xl", class: className } = Astro.props;
---

<header
	class={`border-b border-base-100 w-full fixed bg-base-white ${className ? className : ""}`}
>
	<nav
		class={`flex items-center gap-8 h-12 px-5 lg:px-8 py-2 flex mx-auto ${width === "xl" ? "max-w-screen-xl" : ""}`}
	>
		<a href="/"> <Logo /> </a>
		<div class="flex">
			<Link href="/docs">Docs</Link>
		</div>
	</nav>
</header>
