PUBLIC_FIREBASE_AUTH_EMULATOR_URL="http://localhost:9099"

PUBLIC_FIREBASE_PROJECT_ID="demo-project"
PUBLIC_FIREBASE_API_KEY="any"
PUBLIC_FIREBASE_AUTH_DOMAIN="any"
PUBLIC_FIREBASE_STORAGE_BUCKET="any"
PUBLIC_FIREBASE_MESSAGING_SENDER_ID="any"
PUBLIC_FIREBASE_APP_ID="any"

PUBLIC_API_URL="/api"
PUBLIC_OPENAPI_DOCUMENT="/api/openapi.json"
